/*
	#top-menu
		#mobile-menu
		a
		#mobile-menu-button
	#top-slider
		.slides
		.arrows-container
		.slider-botom
*/

#top-menu{
	background-color: $black;
	padding: 23px 0;
	
	> .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&:before, &:after{
			content: "";
			display: none;
		}

		a{
			display: inline-block;
			padding: 5px;
			font-weight: 300;
			font-size: 18px;
			line-height: 16px;
			letter-spacing: 0.5px;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			@include transition(color,.08s,ease-out);
			text-align: right;

			&.active, &:hover{
				color: $grey;
			}

			span{
				display: block;
				color: $grey;
				font-size: 12px;
				text-transform: lowercase;
			}
		}

		#mobile-menu-button{
			display: none;
			width: 22px;
			width: 22px;
			cursor: pointer;
			position: relative;
			height: 21px;

			> div{
				width: 100%;
				height: 3px;
				background-color: #fff;
				border-radius: 5px;
				@include transition(all, .2s, ease);
				@include transform-origin(left center);
				position: absolute;
				top: 0;
				left: 0;

				&:nth-child(2){
					top: 9px
				}

				&:nth-child(3){
					top: 18px
				}

			}

			&:hover{
				> div{
					background-color: $pink;
				}
			}

			&.open{
				> div{
					&:nth-child(1){
						top: 1px;
						left: 3px;
						@include rotate(45deg);
					}
					&:nth-child(2){
						width: 0%;
						opacity: 0;
					}
					&:nth-child(3){
						top: 17px;
						left: 3px;
						@include rotate(-45deg);
					}
				}
			}
			
		}
	}

	#mobile-menu{

		@media all and (min-width: 751px){
			display: none !important;
		}

		position: absolute;
		top: 71px;
		z-index: 1;
		text-align: center;
		width: 100%;
		overflow: hidden;

		#mobile-menu-wrapper{
			width: 100%;
			background-color: $grey-light;
			@include translate-y(-100%);
			padding-top: 15px;
			@include transition(all, .5s, ease);

			&:after{
				content: "";
				display: block;
				width: 100%;
				height: 10px;
				background-color: $black;
				margin-top: 15px;
			}

			a{
				color: $black;
				display: block;
				text-decoration: none;
				font-size: 15px;
				line-height: 16px;
				@include transition(color, .1s, ease);

				span{
					display: block;
					color: $grey;
					font-size: 13px;
				}

				&.active, &:hover{
					color: $grey;
				}
			}

			div.kropka{
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $black;
				margin: 12px auto;
			}
		}

		&.open{ 
			display: block; 

			#mobile-menu-wrapper{
				@include translate-y(0%);
			}
		}

	}

	@media all and (max-width: 750px){
		position: fixed;
		top: 0; left: 0;
		z-index: 1;
		width: 100%;
		padding: 15px 0;

		a:not(.logo){
			display: none;
		}
		#mobile-menu-button{
			display: block !important;
		}
	}

}

#top-slider{
	background-color: $grey-dark;

	.slider{
		width: 100%;
		max-width: 1920px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;

		@media all and (max-width: 1024px){
			height: 550px;
		}

		@media all and (max-width: 768px){
			height: 501px;
		}

		.slides{

			@media all and (max-width: 1024px){
				height: 100%;

				.slick-list{
					height: 100%;
					.slick-track{
						height: 100%;
					}
				}
			}

			.slide{
				float: left;
				overflow: hidden;
				position: relative;
				height: 100%;

				img{
					width: 100%;
					min-width: 1600px;

					@media all and (max-width: 1024px){
						position: relative;
						top: 50%;
						left: -300px;
						transform: translateY(-50%);
					}

					@media all and (max-width: 560px){
						left: -370px
					}

					@media all and (max-width: 480px){
						left: -420px
					}
					
				}
			}

		}

		.arrows{
			position: absolute;
			top: 50%;
			left: 50%;

			.wrapper{
				position: absolute;
				top: -50%;
				left: -50%;
				width: 100%;

				.prev-slide,
				.next-slide{
					position: absolute;
					bottom: -78px;
					left: -1px;
					cursor: pointer;
					opacity: 0.5;
					@include transition(opacity, .3s, ease);			
					
					&:hover{
						opacity: 1;
					}

					img{
						margin: 15px;
					}

					@media all and (max-width: 1024px){
						left: 45px;

						&.next-slide{
							left: unset;
							right: 45px;
						}
					}

				}
				.next-slide{
					left: unset;
					right: 1px;
				}

			}

			@media all and (max-width: 620px){
				display: none;
			}
		}

	}

	.slider-bottom{
		width: 100%;
		height: 27px;
		background-color: $black;

		.container{
			height: 100%;
			position: relative;
		}

		.white-box{
			height: 100%;
			width: 78px;
			background-color: #fff;
		}
	}

	@media all and (max-width: 750px){
		margin-top: 70px;
	}
	
}